.venv/
.torch/
cache/
dataset/
dataset_balanced/
dataset_5nodes/
*.h5
*.keras
build/
dist/
dataset_unbalanced/
dataset_resized/
dataset_pneumothorax/
checkpoints/
dataset_pneumothorax_small/
combined_dataset/
Final Model/
